In [78]:
import pandas as pd
import numpy as np
import pathlib
import pickle
from datetime import datetime
import os

Define date files from ENVI-met simulation run and choose file to edit

In [79]:
dates = {
  "1": "2018_0516",
  "2": "2018_0607",
  "3": "2018_0608",
  "4": "2018_0620",
  "5": "2018_0621",
  "6": "2018_0625",
  "7": "2018_0911",
  "8": "2018_0929",
}
print(dates)

n = input("Enter a number corrosponding to date: ")

print("you chose:  " + dates[n])

{'1': '2018_0516', '2': '2018_0607', '3': '2018_0608', '4': '2018_0620', '5': '2018_0621', '6': '2018_0625', '7': '2018_0911', '8': '2018_0929'}
Enter a number corrosponding to date: 5
you chose:  2018_0621

Preprocess on single date file

In [68]:
for path in pathlib.Path("..microclimate_model/ENVI-met (Raw)/" + dates[n] + "/base_micro").iterdir():
        if path.is_file():
            current_file = pd.read_csv(path)
             # Perform any processing here for chosen date file
            current_file.to_csv("..microclimate_model/ENVI-met/" + dates[n] + "/base_micro/" + path.name, index=False)

Preprocess on all date files

In [250]:
onepd = pd.DataFrame()
for i in range(len(dates)):
    for path in pathlib.Path("..microclimate_model/ENVI-met(Raw)/" + dates[str(i+1)] + "/base_micro").iterdir():
            if path.is_file():
                # Choose specific ENVI-met variables and rename columns and date files
                current_file = pd.read_csv(path)        
                try:
                    current_file = current_file[['Date','Time','AirTempInFrontOfAllFacades_MEAN','RelativeAirHumidityInFrontOfAllFacades_MEAN']]
                except KeyError:
                    pass
                current_file.rename(columns = {'AirTempInFrontOfAllFacades_MEAN':'Air Temp', 'RelativeAirHumidityInFrontOfAllFacades_MEAN':'Rel Hum'}, inplace = True)
                current_file.to_csv("..microclimate_model/ENVI-met/" + dates[str(i+1)] + "/base_micro/" + path.name, index=False)
                # get all data in pandas dataframe for further processing
                current_file['bldgname'] = path.name[:-4]
                first_column = current_file.pop('bldgname')
                current_file.insert(0, 'bldgname', first_column)
                onepd = onepd.append(current_file)
onepd = onepd.drop(columns=['Unnamed: 0'])

In [251]:
onepd

                   bldgname        Date      Time   Air Temp    Rel Hum
0   Rural Parking Structure  2018-05-16  05-00-00  22.875623  22.385364
1   Rural Parking Structure  2018-05-16  05-15-00  24.302229  24.132087
2   Rural Parking Structure  2018-05-16  05-30-01  24.074092  23.740702
3   Rural Parking Structure  2018-05-16  05-45-01  23.922866  23.751795
4   Rural Parking Structure  2018-05-16  06-00-01  23.781094  24.007169
..                      ...         ...       ...        ...        ...
72         Psychology North  2018-09-29  23-00-01  32.777761  22.255655
73         Psychology North  2018-09-29  23-15-01  32.615956  22.203585
74         Psychology North  2018-09-29  23-30-01  32.418783  22.603495
75         Psychology North  2018-09-29  23-45-01  32.190174  23.121666
76         Psychology North  2018-09-29  23-59-59  31.968686  23.668870

[12331 rows x 5 columns]

In [276]:
onepd.shape

(12331, 5)

Create a csv file for each building

In [301]:
def create_building_csv(df):
    unique = df['bldgname'].unique()
    for i in range(len(unique)):
            x = df.loc[df['bldgname'] == unique[i]]
            x.reset_index(inplace=True)
            x.to_csv('..microclimate_model/ENVI-met/processed data 1/' + unique[i] + '.csv')
            print(len(x))

In [302]:
create_building_csv(onepd)

649
649
649
649
649
649
649
649
649
649
649
649
649
649
649
649
649
649
649