In [ ]:
--> NO NEED TO RUN SAVED AS PICKLE FILES <--

import pickle

############################## READ ALL DATA #############################################

## WEATHER FILES ##

# AZ PHX Sky Harbor Data #
AZW_15 = pd.read_csv("C:/Users/alyak/Desktop/ASU PhD/RA/Python/Data/Weather Data/KPHX-15.csv")

# ENVIMET DATA #
BPS = []
Fname = []
for path in pathlib.Path("C:/Users/alyak/Desktop/ASU PhD/RA/Python/Data/BPS").iterdir():
    if path.is_file():
        current_file = pd.read_csv(path)
        BPS.append(current_file)
        Fname.append(path.name.replace('.csv', ''))

## Drop last row of EnviMet Data
for i in range(len(BPS)):
    BPS[i] = BPS[i].drop(16)

## Save files to pickle
AZW_15.to_pickle("AZW_15.pkl")

with open('BPS.pkl', 'wb') as f:
    pickle.dump(BPS, f)

with open('Fname.pkl', 'wb') as f:
    pickle.dump(Fname, f)

In [1]:
import pandas as pd
import pathlib
import pickle

In [2]:
########## LOAD PICKLE DATA ###########

## Load BPS Data (14 filtered buildings)
with open('BPS.pkl', 'rb') as f:
    BPS = pickle.load(f)

## Load names of BPS files
with open('Fname.pkl', 'rb') as f:
    Fname = pickle.load(f)

## Load AZ Weather Data (15-min)
AZW_15 = pd.read_pickle('AZW_15.pkl')

In [4]:
print(AZW_15['Date_Time'][5000])
print(type(AZW_15['Date_Time'][0]))

2018-02-22 03:15:00
<class 'datetime.datetime'>

In [6]:
############################## CHOOSE BUILDING #############################################

## Print Building Names ##
for i in range(len(Fname)):
    print(Fname[i])
    
bldname = input('Enter building name: ')

for i in range(len(BPS)):
    if bldname == Fname[i]:
        BPS_bldg = BPS[i]

Best Hall
Bio Design Institute A
Bio Design Institute B
COD North
Engineering Research Ctr
Goldwater
Health Services
Interdisciplinary AB
ISTB 1
ISTB 2
ISTB 4
ISTB 5
Lifescience A_B_D
University Club
Enter building name: Best Hall

In [7]:
################################# CLASS TO FORMAT BUILDING DATA #############################################

class building:
    
    def __init__(self, bldgname, cmp, env):
        self.bldgname = bldgname
        self.cmp = cmp
        self.env = env
    
    def campusmetabolism(self):
        self.cmp = pd.read_csv("C:/Users/alyak/Desktop/ASU PhD/RA/Python/Data/ASU 2018/" + bldname + " 2018.csv")
        return self.cmp

    def envimet(self):
        self.env = BPS_bldg[['Time', 'AirTempInFrontOfAllFacades_MEAN', 'RelativeAirHumidityInFrontOfAllFacades_MEAN',
                     'WindSpeedInFrontOfAllFacades_MEAN']]
        self.env = self.env.rename(columns = {'AirTempInFrontOfAllFacades_MEAN':'Mean Air Temp',
                                    'RelativeAirHumidityInFrontOfAllFacades_MEAN':'Mean Rel Humidity',
                                    'WindSpeedInFrontOfAllFacades_MEAN':'Mean Wind Speed'})
        return self.env

    
cmp = pd.DataFrame()
env = pd.DataFrame()
Bldg = building(bldname, cmp, env)
cmp_data = Bldg.campusmetabolism()
env_data = Bldg.envimet()

In [39]:
cmp_data

,campus,bldgno,bldgname,tstamp,Year,Month,Day,Hour,KW,KWS,...,CHWTONgalsgas,HTmmBTU#Houses,HTmmBTUlightbulbs,HTmmBTUgalsgas,Total#Houses,Totallightbulbs,Totalgalsgas,GHG,DOW,tstamp2
0,Tempe,38,Best Hall,2018-01-01T00:00:00.000,,,,,62.65,-0.01,...,1,7,1637,1,30,7428,48,0.009,2,2018-01-01T00:00:00
1,Tempe,38,Best Hall,2018-01-01T00:15:00.000,,,,,62.61,-0.01,...,0,7,1680,1,28,6996,33,0.008,2,2018-01-01T00:15:00
2,Tempe,38,Best Hall,2018-01-01T00:30:00.000,,,,,65.05,-0.01,...,0,7,1687,1,29,7274,36,0.009,2,2018-01-01T00:30:00
3,Tempe,38,Best Hall,2018-01-01T00:45:00.000,,,,,62.50,-0.01,...,0,7,1634,1,29,7212,41,0.008,2,2018-01-01T00:45:00
4,Tempe,38,Best Hall,2018-01-01T01:00:00.000,,,,,62.92,-0.01,...,0,7,1651,1,26,6562,19,0.009,2,2018-01-01T01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35031,Tempe,38,Best Hall,2018-12-31T22:45:00.000,,,,,70.08,-0.01,...,0,10,2491,1,35,8666,44,0.010,2,2018-12-31T22:45:00
35032,Tempe,38,Best Hall,2018-12-31T23:00:00.000,,,,,70.08,-0.01,...,0,10,2508,1,33,8287,31,0.010,2,2018-12-31T23:00:00
35033,Tempe,38,Best Hall,2018-12-31T23:15:00.000,,,,,73.00,-0.01,...,0,10,2524,1,34,8510,32,0.010,2,2018-12-31T23:15:00
35034,Tempe,38,Best Hall,2018-12-31T23:30:00.000,,,,,72.26,-0.01,...,1,10,2515,1,39,9629,69,0.010,2,2018-12-31T23:30:00
35035,Tempe,38,Best Hall,2018-12-31T23:45:00.000,,,,,70.00,-0.01,...,1,10,2494,1,35,8826,49,0.009,2,2018-12-31T23:45:00

In [47]:
type(cmp_data['tstamp'][0])

astropy.time.core.Time

In [40]:
env_data

           Time  Mean Air Temp  Mean Rel Humidity  Mean Wind Speed
0    5.00.00 AM      29.206235          12.994895         0.845117
1    6.00.01 AM      28.760711          16.885524         0.803598
2    7.00.01 AM      29.418993          17.744518         0.786741
3    8.00.01 AM      31.452718          16.981271         0.759856
4    9.00.01 AM      33.983907          14.501848         0.725134
5   10.00.01 AM      35.904840          11.482431         0.685312
6   11.00.01 AM      36.840493           9.390960         0.666170
7   12.00.01 PM      37.770903           8.202168         0.660939
8    1.00.01 PM      38.735576           7.235736         0.659444
9    2.00.01 PM      39.458068           6.431790         0.655462
10   3.00.01 PM      39.903581           6.048771         0.648390
11   4.00.01 PM      40.085078           5.892133         0.643678
12   5.00.01 PM      39.981263           5.866324         0.639413
13   6.00.01 PM      39.621741           5.924204         0.632891
14   7.00.01 PM      38.920822           6.235998         0.623534
15   8.00.01 PM      38.010425           6.705605         0.610335

In [44]:
type(AZW_15['Date_Time'][0])

datetime.datetime

In [15]:

from datetime import datetime

for i in range(len(cmp_data)):
    time1 = cmp_data['tstamp'][i]
    date_time = datetime.strptime(time1, "%Y-%m-%d %H:%M:%S")
    cmp_data['tstamp'][i] = date_time

ValueError: time data '2018-01-01T00:00:00    ' does not match format '%Y-%m-%d %H:%M:%S'

In [34]:
############################## FORMAT DATES #############################################

from astropy.time import Time

for i in range(len(cmp_data)):
    t = cmp_data['tstamp'][i][0:19]
    time1 = Time(t)
    cmp_data['tstamp'][i] = time1

<ipython-input-34-e0bb0c056c9a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmp_data['tstamp'][i] = time1

In [35]:
cmp_data['tstamp'][0]

In [36]:
type(cmp_data['tstamp'][0])

astropy.time.core.Time

In [ ]:
########################### FORMATING BIG DATA FRAMES ##############################

## Weather file ##
AZW_15 = AZW_15.set_index('Date_Time')


## Building ##
# cmp_data = Campus Metabolism Data
# all_data = cmp_data + AZ Weather Data

##### Step 1
for i in range(len(cmp_data)):
    cmp_data['tstamp'][i] = (str(cmp_data['tstamp'][i][5:7]) + '/' + str(cmp_data['tstamp'][i][8:10]) + '/2018' + ' ' + str(cmp_data['tstamp'][i][11:16]))
    
cmp_data = cmp_data[['tstamp', 'bldgname', 'KW', 'CHWTON', 'HTmmBTU']]

##### Step 2 
month = []
time = []

for i in range(len(cmp_data)):
    month.append(cmp_data['tstamp'][i][0:2])

for i in range(len(cmp_data)):
    time.append((cmp_data['tstamp'][i][11:13] + cmp_data['tstamp'][i][14:]))

cmp_data['month'] = month
cmp_data['time'] = time


##### Step 3
cmp_data = cmp_data.set_index('tstamp')


##### Step 4
all_data =  pd.concat([cmp_data, AZW_15], axis=1, join="inner")
all_data = all_data[['month', 'time', 'bldgname', 'KW', 'CHWTON', 'HTmmBTU', 'Air Temp', 'Rel Humid']]

##### DROP June 9th Weather
# row 15150 to row 15246 are all june 19th data
all_data = all_data.drop(all_data.index[15150:15246])

Dropping June 9 data will be different for each building, try using datetime module in python to specificically remove June 9 dates

In [ ]:
# see if July 9th is gone
all_data.iloc[15148:15155]

In [ ]:
######################## DATA FORMATTING for JUNE 9 ##########################

time = []
time.append('0500')
time.append('0600')
time.append('0700')
time.append('0800')
time.append('0900')
time.append('1000')
time.append('1100')
time.append('1200')
time.append('1300')
time.append('1400')
time.append('1500')
time.append('1600')
time.append('1700')
time.append('1800')
time.append('1900')
time.append('2000')

month = []
for i in range(16):
    month.append('06')

date = []
date.append('06/09/2018 05:00')
date.append('06/09/2018 06:00')
date.append('06/09/2018 07:00')
date.append('06/09/2018 08:00')
date.append('06/09/2018 09:00')
date.append('06/09/2018 10:00')
date.append('06/09/2018 11:00')
date.append('06/09/2018 12:00')
date.append('06/09/2018 13:00')
date.append('06/09/2018 14:00')
date.append('06/09/2018 15:00')
date.append('06/09/2018 16:00')
date.append('06/09/2018 17:00')
date.append('06/09/2018 18:00')
date.append('06/09/2018 19:00')
date.append('06/09/2018 20:00')

# Interdisciplinary AB June 9 Microclimate Variables Data #

CHWTON = []
x = 15170
for i in range(16):
    CHWTON.append(all_data['CHWTON'][i + x])
    x = x + 3

KW = []
x = 15170
for i in range(16):
    KW.append(all_data['KW'][i + x])
    x = x + 3

June_9_Micro = pd.DataFrame()
June_9_Micro['month'] = month
June_9_Micro['time'] = time
June_9_Micro['CHWTON'] = CHWTON
June_9_Micro['KW'] = KW
June_9_Micro['date'] = date
June_9_Micro['Air Temp'] = env_data['Mean Air Temp']
June_9_Micro['Rel Humid'] = env_data['Mean Rel Humidity']

June_9_Micro = June_9_Micro.set_index(['date'])
#June_9


# Interdisciplinary AB June 9 AZW Variables Data #

June_9_AZW_Air_Temp = []

x = 15170
for i in range(16):
    June_9_AZW_Air_Temp.append(all_data['Air Temp'][i + x])
    x = x + 3

June_9_AZW_Rel_Hum = []
    
x = 15170
for i in range(16):
    June_9_AZW_Rel_Hum.append(all_data['Rel Humid'][i + x])
    x = x + 3

June_9_AZW = pd.DataFrame()
June_9_AZW['month'] = month
June_9_AZW['time'] = time
June_9_AZW['CHWTON'] = CHWTON
June_9_AZW['KW'] = KW
June_9_AZW['date'] = date
June_9_AZW['Air Temp'] = June_9_AZW_Air_Temp
June_9_AZW['Rel Humid'] = June_9_AZW_Rel_Hum

June_9_AZW = June_9_AZW.set_index(['date'])

In [ ]:
import datetime

all_data